/* Header styling */
header {
    text-align: center;
    /* Style for the header section */
}
/* Hides the title of the game */
body.start-screen header {
    display: none;
}

body.start-screen footer {
    display: none;
}
/* Title styling */
h1 {
    /* Style for the main title */
}

/* Login Page styling */
.start-screen-background {
    background-image: url('assets/Background/loginpage.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    size: 500px;
}

#start-screen button {
    font-size: 1.5em;  
    padding: 1em;  
    margin: 0.5em;

}

/* Main game section styling */
#game-screen {
   background-image: url('./assets//Background/backgroundgame.png');
   background-size: cover;
   background-repeat: no-repeat;
   height: 90vh;
   display: none;

    /* Style for the main game area */
}

/* Player info section styling */
#player-info {
    /* Style for the player info section */
}

/* Market info section styling */
#market-info {
    /* Style for the market info section */
}

/* Mining rigs section styling */
#mining-rigs {
    /* Style for the mining rigs section */
}

/* Upgrades section styling */
#upgrades {
    /* Style for the upgrades section */
}

/* Cooling systems section styling */
#cooling-systems {
    /* Style for the cooling systems section */
}

/* Energy management section styling */
#energy-management {
    /* Style for the energy management section */
}

/* Footer styling */
footer {
    text-align: center;
    /* Style for the footer section */
}



.button {
    /* Style for all buttons */
}

.stat {
    /* Style for all stats */
}

/* Music button controlls */
#mute-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.5em;
}

#playmusic {
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 0.5em;
}
